<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification mail</title>
</head>
<body style="padding: 30px 0; text-align: center; font-family: Arial, Helvetica, sans-serif; ">
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td align="center">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width: 500px; width: 100%; background-image: url('https://yandex.ru/images/search?from=tabbar&img_url=https%3A%2F%2Fsun9-46.userapi.com%2Fimpg%2FOteN7t9wBqD8Q8O2S0D0-rid02yCci7MstzmKQ%2FlO3ldhL3RrY.jpg%3Fsize%3D537x240%26quality%3D96%26sign%3Ddc330e20cf57de3cff0e680b8affd0f5%26type%3Dshare&lr=39&pos=3&rpt=simage&text=задний%20фон%20аниме%20сао%20здание%201%20сезок');  background-repeat: no-repeat; background-size: cover; background-position: top center; ">
                <tr align="center" >
                    <td style="background-color: rgba(0, 0, 0, 0.4)">
                        <img style="margin-top: 60px; max-width: 90%; height: auto;" src="https://yandex.ru/images/search?from=tabbar&img_url=https%3A%2F%2Fsun9-46.userapi.com%2Fimpg%2FOteN7t9wBqD8Q8O2S0D0-rid02yCci7MstzmKQ%2FlO3ldhL3RrY.jpg%3Fsize%3D537x240%26quality%3D96%26sign%3Ddc330e20cf57de3cff0e680b8affd0f5%26type%3Dshare&lr=39&pos=3&rpt=simage&text=задний%20фон%20аниме%20сао%20здание%201%20сезок" />
                    </td>
                </tr>
                <tr>
                    <td style="background-color: rgba(0, 0, 0, 0.4)">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width: 400px; width: 80%; margin: 0 auto; margin-top: 20px; background: rgba(0, 0, 0, 0.8); border-radius: 15px;">
                            <tr>
                                <td style="padding: 30px 20px; text-align: center;">
                                    <img style="max-width: 60%; height: auto;" src="https://yandex.ru/images/search?from=tabbar&img_url=https%3A%2F%2Fsun9-46.userapi.com%2Fimpg%2FOteN7t9wBqD8Q8O2S0D0-rid02yCci7MstzmKQ%2FlO3ldhL3RrY.jpg%3Fsize%3D537x240%26quality%3D96%26sign%3Ddc330e20cf57de3cff0e680b8affd0f5%26type%3Dshare&lr=39&pos=3&rpt=simage&text=задний%20фон%20аниме%20сао%20здание%201%20сезок" />
                                    <p style="font-weight: 500; font-size: 32px; margin: 0; margin-top: 20px; color: #fff;">{{password}}</p>
                                    <p style="display: none;"> - вот он!</p>
                                    <img src="https://yandex.ru/images/search?from=tabbar&img_url=https%3A%2F%2Fsun9-46.userapi.com%2Fimpg%2FOteN7t9wBqD8Q8O2S0D0-rid02yCci7MstzmKQ%2FlO3ldhL3RrY.jpg%3Fsize%3D537x240%26quality%3D96%26sign%3Ddc330e20cf57de3cff0e680b8affd0f5%26type%3Dshare&lr=39&pos=3&rpt=simage&text=задний%20фон%20аниме%20сао%20здание%201%20сезок" style="margin-top: 20px; max-width: 90%; height: auto; color: #fff;" alt="ваш одноразовый пароль для входа в приложение" />
                                    <img src="https://yandex.ru/images/search?from=tabbar&img_url=https%3A%2F%2Fsun9-46.userapi.com%2Fimpg%2FOteN7t9wBqD8Q8O2S0D0-rid02yCci7MstzmKQ%2FlO3ldhL3RrY.jpg%3Fsize%3D537x240%26quality%3D96%26sign%3Ddc330e20cf57de3cff0e680b8affd0f5%26type%3Dshare&lr=39&pos=3&rpt=simage&text=задний%20фон%20аниме%20сао%20здание%201%20сезок" style="max-width: 70%; height: auto; margin-top: 40px;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr align="center">
                    <td style="background-color: rgba(0, 0, 0, 0.4)">
                        <img src="https://yandex.ru/images/search?from=tabbar&img_url=https%3A%2F%2Fsun9-46.userapi.com%2Fimpg%2FOteN7t9wBqD8Q8O2S0D0-rid02yCci7MstzmKQ%2FlO3ldhL3RrY.jpg%3Fsize%3D537x240%26quality%3D96%26sign%3Ddc330e20cf57de3cff0e680b8affd0f5%26type%3Dshare&lr=39&pos=3&rpt=simage&text=задний%20фон%20аниме%20сао%20здание%201%20сезок" style="max-width: 90%; height: auto; margin-top: 20px;" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
